* {
  box-sizing: border-box;
}
body {
  margin: 0.5rem;
  background-color: rgb(3, 128, 135);
}

.aside {
  background-color: white;
  width: 350px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title-aside {
  font-family: "Times New Roman";
  font-size: 1.2rem;
}

.AddNewWorker {
  width: 100%;
  background-color:#027738;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.assigned-article button {
  color: red;
  cursor: pointer;
}
.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.assigned-article {
  border: 1px dashed gray;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  border-radius: 5px;
  margin-bottom: 5px;
}
.unssigned-article {
  border: 1px dashed gray;
  border-radius: 5px;
  margin-bottom: 5px;
}
.article button {
  background-color: rgb(3, 128, 135);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.img-nom-role {
  display: flex;
  gap: 0.8rem;
}
article img {
  width: 50px;
}
form img {
  width: 50px;
}
.main {
  display: flex;
}
.section {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  padding: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-w {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  gap: 0.5rem;
}
.container-left {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 37%;
}
.letf-top{
  height: 200px;
}
.left-bottom{
  height: 370px;
}
.container-rigth {
  width: 46%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.move {
  right: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0rem;
  color: rgb(255, 2, 2);
}
.top-right {
  display: flex;
  gap: 0.5rem;
  height: 280px;
}
.bottom-right {
  display: flex;
  gap: 0.5rem;
  height: 280px;
}
.h-espace {
  height: 20%;
}
.view {
  display: flex;
}

.header-assigned {
  display: flex;
  justify-content: space-between;
}
.header-assigned button {
  background-color: #027738;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

input {
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(241, 246, 241);
}
select {
  /* width: 100%; */
  border: 1px solid rgb(253, 254, 255);
  border-radius: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.container-form {
  display: none;
  background-color: rgb(4, 150, 158);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 40%;
  padding: 1rem;
  max-height: 550px;
  overflow: auto;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.button {
  background-color:#027738;
  border-radius: 10px;
  width: 40%;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.form-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}
.close {
  float: right;
  padding: 0px 8px;
  background-color: #027738;
  cursor: pointer;
}
@media (max-width: 1215px) {
  .container-w {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .section {
    background-image: none;
  }
  .container-left {
    width: 100%;
    margin-bottom: 1rem;
  }
  .container-rigth,
  .top-right {
    width: 100%;
    /* margin-top: 1.5rem; */
  }

  .button {
    font-size: 10px;
  }

  .h-espace {
    height: 0;
  }
}
