* {
  box-sizing: border-box;
}
body {
  margin: 0.5rem;
  background-color: rgb(179, 239, 242);
}

.aside {
  background-color: white;
  width: 250px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title-aside {
  font-family: "Times New Roman";
  font-size: 1.2rem;
}

.AddNewWorker {
  width: 100%;
  background-color: green;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.assigned-article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  border: 1px dashed gray;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 10px;
  justify-content: space-between;
 
}
.unsigned-article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  border: 1px dashed gray;
  border-radius: 5px;
  padding: 0.5rem;
  
}
.img-nom-role{
    display: flex;
    gap: 10px;
}
article img {
  width: 50px;
}
.container-global {
  height: 100%;
  display: flex;
  gap: 1rem;
}
.section {
  height: 100%;
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}
.container-w {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
.container-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.container-rigth{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.move{
 right: 10px;
 background-color: blue;
 border-radius: 5px;
 cursor: pointer; 
 padding: 0.5rem;   
}
.container-top{
  display: flex;
  gap: 1rem;
}
.container-bottom{
  display: flex;
  gap: 1rem;
}
.left-bottom {
  height: 80%;
}
.letf-top{
  height: 50%;
}
@media (max-width:1215px)
{
  .section {
  flex-wrap: wrap;
}

.container-global {
  justify-content: center; 
  gap: 1rem;
}
 .espace{
  display: none;
 }
}